gateware/core_old
# core repo:
gateware/core/cv32e40p
gateware/core_old/cv32e40p
# Kurulum için:
#   "gateware/core/Makefile"'ı, 
#   "make setup" ile yürüt

# core - verialtor çıktıları:
gateware/core/build
gateware/core/obj_dir

# repolar:
gateware/axi4/axi
gateware/pulp_common_cell/common_cells
gateware/axi4_v2/verilog-axi

.vscode